* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin:0;
}

nav {
	padding-left: 0;
	padding:.5em;
	background-color:#1d2836;
	color:whitesmoke;
	text-align: center;
}

.h2-special {
	margin-bottom: .2em;

}

.transparent {
	font-weight:300;
	margin-top: 0;
	color: rgba(0, 0, 0, 0.5);
}

p {
	font-weight: 300;
}

h2 {
	font-weight:600;
}

.h2-pad {
	margin-top: 1em;
	margin-bottom: calc(1em - 12px);
}

header {	
	text-align: center;
	align-self: center;
	border-bottom: 5px solid black;
	margin-bottom:3px;
	display: flex;
}

#container, fieldset, div, body , main , header {
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
	justify-content: center;
}

.news {
	flex-direction: row;
	justify-content: left;
}

.news input  {
	width:20px;
	height:13px;
	padding:4px;
	display: block;
}

.news label {
	width:50vw;
	margin-top:0;
}

fieldset {
	margin-left: 0;
	margin-right: 0;
	border-top: 2px solid black;
	border-left:none;
	border-right:none;
	border-bottom:none;
}

legend {
	font-weight:600;
  	float: left;
  	margin-bottom: .75em;
  	margin-top: 1em;
  	width: 90%;
  	font-size: 1.2em;
}

label {
	font-weight: 300;
	margin-top:.75em;
	margin-bottom:.25em;
}

input[type=email]::placeholder {
	text-align: right;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

input[type="text"]::placeholder {
	text-align: right;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

option:disabled{
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

.topics label {
	width: 80vw;
	margin-bottom: .75em;
}

select > option {
	font-weight: 300;
}

textarea {
	width:90vw;
	padding:0;
}

input , select , textarea{
	border:none;
	background-color:rgba(172, 174, 176, 0.3);
	padding: .7em;
	border-radius: 3px;
}

.zip input {
	width:150px;
	margin-bottom: 1em;
}

input[type="reset"] {
	background-color: #189e92;
	color: whitesmoke;
	margin-top: .1em;
	font-size: 1.2em;
	width: 150px;
	padding:.25em;
	align-self: center;
}

input[type="submit"] {
	background-color: #43d9cc;
	color: whitesmoke;
	margin-top: 1.2em;
	font-size: 1.2em;
}

.top-marg {
	margin-top:1.2em;
}

footer {
	text-align: center;
}

/*MEDIA QUERIES*/

@media screen and (min-width:481px) {
	textarea {
		align-self: center;
	}
}

@media screen and (min-width:650px) {
	body {
		justify-content: center;
	}
	html {
		background-color: white;
	}
	main , div {
		flex-direction: row;
	}
	div {
		margin-bottom:.5em;
	}
	body , fieldset , header {
		width:650px;
	}
	textarea {
		width:626px;
		padding:0;
	}
	nav {
		width:100vw;
	}
	.name label {
		width:155px;
	}
	input {
		width:440px;
	}
	input[type="submit"] {
		align-self: center;
		width:626px;
	}
	form {
		width: 650px;
	}
	label {
		margin:auto;
	}
	.news label {
		margin-left:0px;
	}
	select {
		width:440px;
	}
	.zip input {
		width: calc(440px * .25);
	}
	.zip label {
		margin-left: 15.5px;
		margin-right: 15.5px;
	}
	.zip {
		align-self: flex-start;
	}
	.topics label {
		width:626px;
	}
}
@media screen and (min-width:768px) {
	body , fieldset , header {
		width:700px;
	}
	textarea {
		width:676px;
	} 
	form {
		width:700px;
	}
	.zip label {
		margin-left: 40.5px;
		margin-right: 40.5px;
	}
	.topics label {
		width:676px;
	}
	input[type="submit"] {
		align-self: center;
		width:676px;
	}
}

