* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

html {
	background-color: #FFFFF2;
}

body {
	margin:0;
}

form {
	background-color: #f7f4e9;
}

nav {
	padding-left: 0;
	padding:.5em;
	background-color:#1d2836;
	color:whitesmoke;
	text-align: center;
}

.h2-special {
	margin-bottom: .2em;

}

.transparent {
	font-weight:300;
	margin-top: 0;
	color: rgba(0, 0, 0, 0.5);
}

p {
	font-weight: 300;
}

h2 {
	font-weight:600;
}

.h2-pad {
	margin-top: 1em;
	margin-bottom: calc(1em - 12px);
}

header {	
	text-align: center;
	align-self: center;
	border-bottom:2px solid black;
	margin:0px;
	display: flex;
}

.headborder {
	border-top: 4px solid black;
	margin-bottom: 3px;
}

#container, fieldset, div, body , main , header {
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
	justify-content: center;
}

.news {
	flex-direction: row;
	justify-content: left;
}

.focus {
	transition: background-color 1.5s;
}

.focus:focus {
	background-color: rgba(214, 2, 48, 0.6);
}

.news input  {
	width:6.25%;
	height:13px;
	padding:4px;
	display: block;
}

.news label {
	width:50%;
	margin-top:0;
}

fieldset {
	margin-left: 0;
	margin-right: 0;
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom:none;
	padding-top:0px;
	padding-bottom:0px;
	border-radius: 3px;
}

legend {
	font-weight:600;
  	margin-bottom: 0px;
  	margin-top: 0px;
  	width: 90%;
  	font-size: 1.2em;
}

label {
	font-weight: 300;
	margin-top:.75em;
	margin-bottom:.25em;
}

input[type=email]::placeholder {
	text-align: right;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

input[type="text"]::placeholder {
	text-align: right;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

input[type=tel]::placeholder {
	text-align: right;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

option:disabled{
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

.topics label {
	width: 80%;
	margin-bottom: .75em;
}

select > option {
	font-weight: 300;
}

textarea {
	width:90%;
	padding:0;
	align-self: center;
	font-weight: 300;
}

.border ,  select , textarea{
	border:none;
	background-color:rgba(172, 174, 176, 0.3);
	padding: .7em;
	border-radius: 3px;
}

input:required {
	border-color: #0d33f2;
	border-width: 3px;
	background-color:rgba(172, 174, 176, 0.3);
	padding: .7em;
	border-radius: 3px;
}

.zip input {
	width:50%;
	margin-bottom: 1em;
}

input[type="reset"] {
	background-color: #189e92;
	color: whitesmoke;
	margin-top: .1em;
	font-size: 1.2em;
	width: 50%;
	padding:.25em;
	align-self: center;
}

input[type="submit"] {
	background-color: #43d9cc;
	color: whitesmoke;
	margin-top: 1.2em;
	font-size: 1.2em;
}

.top-marg {
	margin-top:1.2em;
}

footer {
	text-align: center;
}

hr {
	border-top: 2px solid black;
	width:100%;
	margin:0px;
}

/*MEDIA QUERIES*/

@media screen and (min-width:481px) {
	textarea {
		align-self: center;
	}
}

@media screen and (min-width:650px) {
	body {
		justify-content: center;
	}
	main , div {
		flex-direction: row;
	}
	div {
		margin-bottom:.5em;
	}
	body , fieldset , header {
		width:648px;
	}
	textarea {
		width:96%;
		padding:0;
	}
	nav {
		width: 100vw;
	}
	.name label {
		width:24%;
	}
	input {
		width:68%;
	}
	input[type="submit"] {
		align-self: center;
		width:96%;
	}
	form {
		width: 648px;
	}
	label {
		margin:auto;
	}
	.news label {
		margin-left:0px;
	}
	select {
		width:68%;
	}
	.zip input {
		width: calc(440px * .25);
	}
	.zip label {
		width:149.75px;
		margin-left: 24.969px;
		margin-right: 24.969px;
	}
	.zip {
		align-self: flex-start;
	}
	.topics label {
		width:96%;
	}
}
@media screen and (min-width:768px) {
	body , fieldset , header {
		width:700px;
	}
	textarea {
		width:96.5%;
	} 
	form {
		width:700px;
	}
	.zip label {
		margin-left: 40.5px;
		margin-right: 40.5px;
	}
	.topics label {
		width:96.5%;
	}
	input[type="submit"] {
		align-self: center;
		width:96.5%;
	}
	.zip label {
		width:162.23px;
		margin-left: 27.047px;
		margin-right: 27.047px;
	}
}

