* {
	box-sizing: border-box;
}

#container, fieldset, div {
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
	justify-content: center;
}

fieldset {
	border-left:none;
	border-right:none;
	border-bottom:none;
}

label {
	margin-top:.75em;
	margin-bottom:.25em;
}

input[type=email]::placeholder {
	text-align: right;
}

input[type="text"]::placeholder {
	text-align: right;
}

input , select {
	width:80vw;
}

input[type="number"] {
	width:150px;
	margin-bottom: 1em;
}